.payment-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: var(--light-sepia);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.payment-form h3 {
  margin-bottom: 20px;
  color: var(--color-primary-600);
  text-align: center;
}

.form-row {
  display: flex;
  gap: 16px;
}

.form-row>div {
  flex: 1;
}

.form-checkbox {
  margin: 16px 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-checkbox input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.form-checkbox label {
  color:  var(--color-primary-600);
  font-size: 0.9rem;
}

.form-actions {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}

.form-actions button {
  min-width: 150px;
}

.button-delete {
    background: var(--color-light-red);
    color: var(--color-red);
}

.button-delete:hover {
    color: #bd2130 !important;
    background: rgba(245, 63, 81, 0.466) !important;
}