.error-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    background: var(--color-light-red);
    border-radius: var(--radius);
    border: 1px solid var(--border-light-red);
    color: var(--color-danger);
    font-size: 17px;
    font-weight: 500;
    margin: 50px auto;
}

.error-container button {
    min-width: 150px;
    width: auto;
    padding: 10px 20px;
}

@media(max-width: 768px) {
    .error-container {
        width: 90%;
        padding: 20px;
    }

    .error-container button {
        margin: 0;
        width: auto;
    }
}

@media(max-width: 480px) {
    .error-container {
        width: 90%;
        margin-top: 30px;
        padding: 20px 15px;
    }

    .error-container button {
        margin: 0;
        width: auto;
    }
}