/* Button Component Styles */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--gap) * 0.5);
  padding: calc(var(--gap) * 0.75) var(--gap);
  border: none;
  border-radius: var(--radius);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: none;
  white-space: nowrap;
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Button Variants */
.btn-primary {
  background: var(--color-primary-600);
  color: var(--accent-contrast);
}

.btn-primary:hover:not(:disabled) {
  background: var(--color-primary-400);
}

.btn-secondary {
  background: var(--surface);
  color: var(--text);
  border: 1px solid var(--border);
}

.btn-secondary:hover:not(:disabled) {
  background: var(--color-strong-gray)
}

.btn-third {
  background: #d0905e;
}

.btn-third:hover:not(:disabled) {
  background: #f5f5e0;
  color: #808000;
}

.btn-danger {
  background: var(--button-danger-hover);
  color: var(--color-light-red);
}

.btn-danger:hover:not(:disabled) {
  background: var(--color-red);
}

.btn-outline {
  background: transparent;
  color: var(--accent);
  border: 1px solid var(--accent);
}

.btn-outline:hover:not(:disabled) {
  background: var(--pale-olive);
}

/* Button Sizes */
.btn-sm {
  padding: 8px 16px;
  font-size: 12px;
}

.btn-lg {
  padding: 16px 32px;
  font-size: 16px;
}