.search-input-wrapper {
    position: relative;
    flex: 1;
}

.search-form {
    display: flex;
    background: transparent;
    overflow: hidden;
    gap: 10px;
    transition: all 0.2s;
}

.search-input {
    width: 100%;
    padding: 11px 12px;
    padding-right: 70px;
    background: transparent;
    border: 2px solid var(--border);
    border-radius: var(--r1);
    color: var(--color-dark);
}

.search-input:focus {
    outline: none;
    border-color: var(--color-gray);
    box-shadow: 0 0 0 1px var(--color-gray);
}

.search-input::placeholder {
    color: var(--text-light);
}

.clear-btn{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: var(--text-muted);
    cursor: pointer;
    padding: 4px 8px;
    font-size: 15px;
    z-index: 2;
    outline: none;
}

.clear-btn:hover{
    color: var(--text-dark);
}

.search-btn {
    padding: 7px 10px;
    background: transparent;
    color: var(--text-light);
    border: 2px solid var(--border);
    border-radius: var(--r1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn:hover {
    background: var(--color-light-gray);
    color: var(--color-dark);
}